<html>
  <head>
    <%- include("./partials/head"); %>
    <style>
        form {
          text-align: -webkit-center;
        }
      </style>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>
    <div class="center">
      <h1 style="text-align: center">Login Form</h1>
      <% if(locals.errors) {%>
      <div class="alert alert-danger">
        <% errors.forEach(function(error){ %>
        <P> <%= error.msg %> </P>
        <% }) %> <% } %>
      </div>

      <form method="POST" action="/users/loginform">
        <div class="col-6">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="email"
              name="username"
            />
            <label for="floatingInput" class="form-label">Email</label>
          </div>
        </div>

        <div class="col-6">
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="floatingInput"
              placeholder="password"
              name="password"
            />
            <label for="floatingInput" class="form-label">Password</label>
          </div>
        </div>
        <div class="col-6 d-grid">
          <button class="btn btn-primary" type="submit">Log In</button>
        </div>
      </form>
    </div>
  </body>
  <footer><%- include('./partials/footer'); %></footer>
</html>
